/* Header 区域 */
.el-header{
    background: #464C5B;
}
.logo{
    float: left;
    width: 300px;
    line-height: 60px;
    color: white;
    font-size: 20px;
    font-family: '楷体';
    text-align: center;
}
.el-button{
    float: right;
    margin: 10px;
}

/* Footer */
.el-footer {
    width: 100%;
    height: 80px !important;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    font-size: 12px;
    color: #666;
    text-align: center;
}
.el-footer .links{
    margin: 15px 0;
}
.el-footer .links a{
    color: #666;
    padding: 10px;
    text-decoration: none;
}
.el-footer .copyright {
    margin: 10px 0;
}
/* ------------------------------------------------SCROLL START----------------------------------------------------- */
::-webkit-scrollbar {
  width: 10px;
  height: 10px; }

::-webkit-scrollbar-button {
  width: 0;
  height: 0; }

::-webkit-scrollbar-button:start:increment, ::-webkit-scrollbar-button:end:decrement {
  display: none; }

::-webkit-scrollbar-corner {
  display: block; }

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.2); }

::-webkit-scrollbar-thumb:hover {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
  border-right: 1px solid transparent;
  border-left: 1px solid transparent; }

::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0.15); }

::-webkit-scrollbar-button:start {
  width: 10px;
  height: 10px;
  background: url(../../img/assets/scrollbar_arrow.png) no-repeat 0 0; }

::-webkit-scrollbar-button:start:hover {
  background: url(../../img/assets/scrollbar_arrow.png) no-repeat -15px 0; }

::-webkit-scrollbar-button:start:active {
  background: url(../../img/assets/scrollbar_arrow.png) no-repeat -30px 0; }

::-webkit-scrollbar-button:end {
  width: 10px;
  height: 10px;
  background: url(../../img/assets/scrollbar_arrow.png) no-repeat 0 -18px; }

::-webkit-scrollbar-button:end:hover {
  background: url(../../img/assets/scrollbar_arrow.png) no-repeat -15px -18px; }

::-webkit-scrollbar-button:end:active {
  background: url(../../img/assets/scrollbar_arrow.png) no-repeat -30px -18px; }
/* ------------------------------------------------SCROLL END----------------------------------------------------- */
/* Side 区域*/
.userInfo{
    border-right: 1px solid #E6E6E6;
    padding-bottom: 15px;
}
.userInfo-pic{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 1px dashed #E6E6E6;
    margin: 20px auto;
    overflow: hidden;
    cursor: pointer;
}
.userInfo-pic img{
    width: 100%;
}
.userInfo-name{
    text-align: center;
}
.el-aside{
    padding: 2px;
}

/* Main区域 */
.crumbs{
    float: left;
    width: 50%;
    margin-top: 10px;
    color: #606266 !important;
    font-size: 18px;
    font-family: '楷体';
    font-weight: 600;
}
.serach{
    float: right;
    width: 40%;
}
/* 用户列表 */
.userTitle{
    width: 92%;
    min-height: 50px;
    border-bottom: 1px #ddd dashed;
    padding: 10px 20px;
    clear: both;
    overflow: hidden;
    margin-top: 80px;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    text-align: center;
}
.userItem{
    width: 92%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px #ddd dashed;
    padding: 10px 20px;
    clear: both;
    overflow: hidden;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-align: center;
}
.userItem div{
    width: 220px;
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.userItem button{
    float: none;
    margin: 0 auto;
}
.userTitle div{
    width: 220px;
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}