<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>管理员登录 - 趣二手</title>

    <!-- ThirdParty -->
    <script src="http://p75wjroq9.bkt.clouddn.com/vue.min.js"></script>
    <script src="http://p75wjroq9.bkt.clouddn.com/jquery.min.js"></script>
    <script src="http://p75wjroq9.bkt.clouddn.com/element.min.js"></script>
    <link rel="stylesheet" href="http://p75wjroq9.bkt.clouddn.com/normalize.css">
    <link rel="stylesheet" href="__PUBLIC__/lib/element.min.css">
    <link rel="stylesheet" href="http://p75wjroq9.bkt.clouddn.com/iconfont.css">
    
    <!-- Main CSS -->
    <link rel="stylesheet" href="__PUBLIC__/css/login/loginAdmin.css">
</head>
<body>
    <!-- Layout -->
    <div id="app">
        <el-container>

            <!-- Header 区域 -->
            <el-header><a href="__APP__/Index/index"><span class="logo">趣二手</span></a></el-header>

            <!-- 内容区域 -->
            <el-main>
                <div class="wrap"  v-loading="loadingStatus">
                    <div class="title">管理员登录</div>
                    <div class="items">
                        <!-- 管理员登录表单 -->
                        <form action="" method="POST">
                            <!-- 手机号码 -->
                            <div class="item" :class="{showError:dataVerify.numShow}">
                                <label class="label" for="num">
                                    <i class="icon iconfont icon-people_fill"></i>
                                </label>
                                <input name="num" type="text" class="cont" placeholder="输入工号" maxlength="6" @blur="checkNum" v-model="formData.num"  v-on:keyup.enter="submitForm">
                            </div>
                            
                            <!-- 登录密码 -->
                            <div class="item" :class="{showError:dataVerify.passwordShow}">
                                <label class="label" for="password">
                                    <i class="icon iconfont icon-brush"></i>
                                </label>
                                <input name="password" type="password" class="cont" placeholder="输入密码 (6~16位字符、数字或符号组合)" maxlength="16" @blur="checkPassword"
                                    v-model="formData.password"  v-on:keyup.enter="submitForm">
                            </div>
                            
                            <!-- 验证码图片 -->
                            <div class="item">
                                <img src="__APP__/Code/index" onclick='this.src=this.src+"?"+Math.random()' />
                            </div>
                            
                            <!-- 输入验证码 -->
                            <div class="item" :class="{showError:dataVerify.codeShow}">
                                <label class="label" for="code">
                                    <i class="icon iconfont icon-order"></i>
                                </label>
                                <input name="code" type="text" class="cont" placeholder="验证码" maxlength="5" @blur="checkCode" v-model="formData.code"  v-on:keyup.enter="submitForm">
                            </div>
                            
                            <!-- 错误提示框 -->
                            <div class="error" v-show="tipsShow"><span class="error-logo"> ！</span>请输入完整且正确的表单信息</div>
                            
                            <!-- 登录按钮 -->
                            <input class="submit-Btn" type="button" value="立即登录" @click="submitForm">
                            <div class="tips">
                                <a class="already" href="__APP__/Admin/admin" v-if="isLogin">已登录账号：{{loginInfo}}&nbsp;&nbsp;&nbsp;&nbsp;</a>
                            </div>
                        </form>
                    </div>
                </div>
            </el-main>

            <!-- Footer区域 -->
            <el-footer>
                <div class="links"> 
                    <a href="__APP__/Index/index">系统首页</a> | 
                    <a target="_blank" href="http://cs.xupt.edu.cn:81/xiyoucs/index.asp">计算机学院</a> | 
                    <a href="__APP__/Login/login">用户登录</a> | 
                    <a href="__APP__/Login/login">管理员登录</a>
                </div>
                <p class="copyright"> Copyright © 2018 趣二手 All Rights Reserved </p>
            </el-footer>

        </el-container>
    </div>

    <!-- VUE -->
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                isLogin: false,
                loginInfo: '',
                
                loadingStatus: false,

                formData: {
                    'num': '',
                    'password': '',
                    'code': ''
                },
                dataVerify: {
                    numShow: false,
                    passwordShow: false,
                    codeShow: false
                },
                tipsShow: false,
                phoneReg: /^[0-9]{6}$/
            },
            methods: {
                checkNum: function () {
                    this.dataVerify.numShow = (this.formData.num && this.formData.num.length === 6 && this.phoneReg.test(this.formData.num)) ? false : true;
                },
                checkPassword: function () {
                    this.dataVerify.passwordShow = this.formData.password.length >= 6 ? false : true;
                },
                checkCode: function () {
                    this.dataVerify.codeShow = (this.formData.code && this.formData.code.length === 5) ? false : true;
                },
                submitForm: function () {
                    if (!this.dataVerify.numShow && !this.dataVerify.passwordShow && !this.dataVerify.codeShow && this.formData.num && this.formData.password && this.formData.code) {
                        this.tipsShow = false;
                        let _that = this;
                        let url = '__APP__/Login/accept_login_admin';
                        _that.loadingStatus = true;
                        $.ajax({
                            url: url,
                            type: 'POST',
                            data: this.formData,
                            dataType: 'JSON',
                            success: function (data) {
                                _that.loadingStatus = false;
                                if (data.code == '0') {
                                    location.href = '__APP__/Admin/admin';
                                } else if ( data.code == '-1' ) {
                                    _that.$message({
                                        message: data.msg,
                                        type: 'error'
                                    });
                                } else{
                                    _that.$message({
                                        message: '未知错误！',
                                        type: 'error'
                                    });
                                }
                            },
                            error: function () {
                                _that.loadingStatus = false;
                                _that.$message({
                                    message: '网络错误，请稍后重试！',
                                    type: 'error'
                                });
                            }
                        });
                    } else {
                        this.tipsShow = true;
                    }
                },
            },
            mounted: function() {
                let _that = this;
                $.ajax({
                    url: '__APP__/Login/isLogin',
                    type: 'POST',
                    dataType: 'JSON',
                    success: function (data) {
                        if ( data.code == 0 ) {
                            _that.isLogin = true;
                            _that.loginInfo = data.msg;
                        }
                    }
                });
            }
        })
    </script>
</body>
</html>