<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>系统概况 - 趣二手</title>

    <!-- ThirdParty -->
    <script src="__PUBLIC__/lib/vue.min.js"></script>
    <script src="__PUBLIC__/lib/jquery.min.js"></script>
    <script src="__PUBLIC__/lib/element.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/lib/normalize.css">
    <link rel="stylesheet" href="__PUBLIC__/lib/element.min.css">
    <link rel="stylesheet" href="__PUBLIC__/lib/fonts/iconfont.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="__PUBLIC__/css/admin/admin.css">
</head>
<body>
    <!-- Layout -->
    <div id="app">
        <el-container>
            <!-- Header 区域 -->
            <el-header>
                <div class="logo">趣二手 后台管理系统</div>
                <el-button type="warning" plain @click="loginOut">退出登录</el-button>
            </el-header>

            <el-container>
                <!-- 侧边栏 -->
                <el-aside>
                    <div class="userInfo">
                        <div class="userInfo-pic">
                            <img src="http://p75wjroq9.bkt.clouddn.com/user-icon.png" alt="头像" title="头像" @click="toAdmin">
                        </div>
                        <div class="userInfo-name">欢迎您！{{countData.adminName}}</div>
                    </div>
                    <el-menu default-active="1" unique-opened="true" collapse-transition="false">
                        <el-menu-item index="1">
                            <div>
                                <i class="el-icon-location"></i>
                                <span slot="title">系统概要</span>
                            </div>
                        </el-menu-item>
                        <el-submenu index="2">
                            <template slot="title">
                                <div @click="adminRouter('User')">
                                    <i class="el-icon-service"></i>
                                    <span slot="title">用户管理</span>
                                </div>
                            </template>
                            <el-menu-item index="2-1">查看用户</el-menu-item>
                            <el-menu-item index="2-2">更改状态</el-menu-item>
                        </el-submenu>

                        <el-submenu index="3">
                            <template slot="title">
                                <div  @click="adminRouter('Goods')">
                                    <i class="el-icon-menu"></i>
                                    <span slot="title">商品管理</span>
                                </div>
                            </template>
                            <el-menu-item index="3-1">查看商品</el-menu-item>
                            <el-menu-item index="3-2">删除商品</el-menu-item>
                        </el-submenu>

                        <el-submenu index="4">
                            <template slot="title">
                                <div @click="adminRouter('Type')">
                                    <i class="el-icon-document"></i>
                                    <span slot="title">分类管理</span>
                                </div>
                            </template>
                            <el-menu-item index="4-1">查看分类</el-menu-item>
                            <el-menu-item index="4-2">添加分类</el-menu-item>
                            <el-menu-item index="4-3">删除分类</el-menu-item>
                        </el-submenu>

                        <el-submenu index="5">
                            <template slot="title">
                                <div @click="adminRouter('Info')">
                                    <i class="el-icon-info"></i>
                                    <span slot="title">系统通知</span>
                                </div>
                            </template>
                            <el-menu-item index="5-1">查看通知</el-menu-item>
                            <el-menu-item index="5-2">发布通知</el-menu-item>
                            <el-menu-item index="5-3">删除通知</el-menu-item>
                        </el-submenu>

                        <el-submenu index="6">
                            <template slot="title">
                                <div @click="adminRouter('Set')">
                                    <i class="el-icon-setting"></i>
                                    <span slot="title">其它设置</span>
                                </div>
                            </template>
                            <el-menu-item index="6-1">添加管理</el-menu-item>
                            <el-menu-item index="6-2">修改密码</el-menu-item>
                        </el-submenu>
                    </el-menu>
                </el-aside>

                <!-- 内容区域 -->
                <el-main>
                    <!-- 面包屑-系统概况 -->
                    <el-breadcrumb separator-class="el-icon-arrow-right" class="crumbs">
                        <el-breadcrumb-item>趣二手</el-breadcrumb-item>
                        <el-breadcrumb-item>{{crumbsTitle}}</el-breadcrumb-item>
                    </el-breadcrumb>

                    <!-- 系统概况 -->
                    <el-container class="summary">
                        <div class="summary-item" @click="adminRouter('User')">
                            <i class="el-icon-service"></i>
                            <div class="summary-num">{{countData.countUser}} 人</div>
                            <div class="summary-name">普通用户</div>
                        </div>
                        <div class="summary-item" @click="adminRouter('Type')">
                            <i class="el-icon-document"></i>
                            <div class="summary-num">{{countData.countType}} 类</div>
                            <div class="summary-name">商品类别</div>
                        </div>
                        <div class="summary-item" @click="adminRouter('Goods')">
                            <i class="el-icon-menu"></i>
                            <div class="summary-num">{{countData.countGoods}} 个</div>
                            <div class="summary-name">所有物品</div>
                        </div>
                        <div class="summary-item" @click="adminRouter('Info')">
                            <i class="el-icon-info"></i>
                            <div class="summary-num">{{countData.countNotice}} 条</div>
                            <div class="summary-name">系统通知</div>
                        </div>
                    </el-container>

                    <!-- 面包屑-系统通知 -->
                    <el-breadcrumb separator-class="el-icon-arrow-right" class="crumbs">
                        <el-breadcrumb-item>趣二手</el-breadcrumb-item>
                        <el-breadcrumb-item>最新通知</el-breadcrumb-item>
                    </el-breadcrumb>
                    
                    <!-- 系统通知 -->
                    <div class="infoItem" v-for="item in countData.hotNotice">
                        <div class="infoTitle">
                            <i>{{item.n_title}}</i>
                        </div>
                        <div class="infoCont">{{item.n_content}}</div>
                        <div class="infoTime">{{item.n_time}}</div>
                    </div>
                </el-main>
            </el-container>

            <!-- Footer 区域 -->
            <el-footer>
                <div class="links">
                    <script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
                    <span class="footer-mid">您是第&nbsp;&nbsp;<span id="busuanzi_value_site_uv"></span>&nbsp;&nbsp;位小伙伴 !</span>
                    <a href="__APP__/login/login">用户登录</a>
                </div>
                <p class="copyright"> Copyright © 2018 趣二手 All Rights Reserved </p>
            </el-footer>
        </el-container>
    </div>

    <!-- VUE -->
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                crumbsTitle : '系统概要',
                serachCont  : '',
                countData   : {},
            },
            methods: {
                adminRouter: function (params) {
                    switch (params) {
                        case 'Admin':
                            location.href = '__APP__/admin/admin';
                            break;
                        case 'Goods':
                            location.href = '__APP__/admin/adminGoods';
                            break;
                        case 'User':
                            location.href = '__APP__/admin/adminUser';
                            break;
                        case 'Type':
                            location.href = '__APP__/admin/adminType';
                            break;
                        case 'Info':
                            location.href = '__APP__/admin/adminInfo';
                            break;
                        case 'Set':
                            location.href = '__APP__/admin/adminSet';
                            break;
                        default:
                            location.href = '__APP__/admin/error';
                            break;
                    }
                },
                toAdmin: function (params) {
                    location.href = '__APP__/admin/admin';
                },
                toGoods: function () {
                    location.href = '__APP__/admin/adminGoods';
                },
                toUser: function (params) {
                    location.href = '__APP__/admin/adminUser';
                },
                toType: function (params) {
                    location.href = '__APP__/admin/adminType';
                },
                toInfo: function (params) {
                    location.href = '__APP__/admin/adminInfo';
                },
                toSet: function (params) {
                    location.href = '__APP__/admin/adminSet';
                },
                crumbsSet: function (crumbs) {
                    this.crumbsTitle = crumbs;
                },

                //退出登录
                loginOut: function () {
                    this.$confirm('您确定要 退出登录 吗 ？', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        let url = '__APP__/Login/out_login';
                        let _that = this;
                        $.ajax({
                            url: url,
                            type: 'POST',
                            dataType: 'JSON',
                            success: function (data) {
                                location.href = '__APP__/login/loginAdmin';
                            },
                            error: function () {
                                _that.$message({
                                    message: '网络 或者 服务器出错,请稍后重试！',
                                    type: 'error'
                                });
                            }
                        });
                    }).catch(() => {
                        return;
                    });
                },

                getCount: function() {
                    let url = '__APP__/Admin/count';
                    let _that = this;
                    $.ajax({
                        url: url,
                        type: 'POST',
                        dataType: 'JSON',
                        success: function (data) {
                            _that.countData= data;
                        },
                        error: function () {
                            _that.$message({
                                message: '网络 或者 服务器出错,请稍后重试！',
                                type: 'error'
                            });
                        }
                    });
                }
            },
            mounted: function () {
                // 挂载实例、初始化列表
                this.getCount();
            }
        })
    </script>
</body>
</html>