<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>后台管理 - 趣二手</title>

    <!-- ThirdParty -->
    <script src="__PUBLIC__/lib/vue.min.js"></script>
    <script src="__PUBLIC__/lib/jquery.min.js"></script>
    <script src="__PUBLIC__/lib/element.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/lib/normalize.css">
    <link rel="stylesheet" href="__PUBLIC__/lib/element.min.css">
    <link rel="stylesheet" href="__PUBLIC__/lib/fonts/iconfont.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="__PUBLIC__/css/admin/admin-goods.css">
</head>

<body>
    <!-- Layout -->
    <div id="app">
        <el-container>
            <!-- Header 区域 -->
            <el-header>
                <div class="logo">趣二手 后台管理系统</div>
                <el-button type="warning" plain @click="loginOut">退出登录</el-button>
            </el-header>

            <el-container>
                <!-- 侧边栏 -->
                <el-aside>
                    <div class="userInfo">
                        <div class="userInfo-pic">
                            <img src="__PUBLIC__/img/admin/test.jpg" alt="头像" title="头像" @click="toAdmin">
                        </div>
                        <div class="userInfo-name">欢迎您！{{listData.adminName}}</div>
                    </div>
                    <el-menu default-active="3-1" unique-opened="true"  collapse-transition="false">
                        <el-menu-item index="1">
                            <div @click="toAdmin">
                                <i class="el-icon-location"></i>
                                <span slot="title">系统概要</span>
                            </div>
                        </el-menu-item>
                        <el-submenu index="2">
                            <template slot="title">
                                <div @click="toUser">
                                    <i class="el-icon-service"></i>
                                    <span slot="title">用户管理</span>
                                </div>
                            </template>
                            <el-menu-item index="2-1">查看用户</el-menu-item>
                            <el-menu-item index="2-2">更改状态</el-menu-item>
                        </el-submenu>

                        <el-submenu index="3">
                            <template slot="title">
                                <div>
                                    <i class="el-icon-menu"></i>
                                    <span slot="title">商品管理</span>
                                </div>
                            </template>
                            <el-menu-item index="3-1" @click="crumbsSet('查看商品')">查看商品</el-menu-item>
                            <el-menu-item index="3-2" @click="crumbsSet('删除商品')">删除商品</el-menu-item>
                        </el-submenu>

                        <el-submenu index="4">
                            <template slot="title">
                                <div @click="toType">
                                    <i class="el-icon-document"></i>
                                    <span slot="title">分类管理</span>
                                </div>
                            </template>
                            <el-menu-item index="4-1">查看分类</el-menu-item>
                            <el-menu-item index="4-2">添加分类</el-menu-item>
                            <el-menu-item index="4-3">删除分类</el-menu-item>
                        </el-submenu>

                        <el-submenu index="5">
                            <template slot="title">
                                <div @click="toInfo">
                                    <i class="el-icon-info"></i>
                                    <span slot="title">系统通知</span>
                                </div>
                            </template>
                            <el-menu-item index="5-1">查看通知</el-menu-item>
                            <el-menu-item index="5-2">发布通知</el-menu-item>
                            <el-menu-item index="5-3">删除通知</el-menu-item>
                        </el-submenu>

                        <el-submenu index="6">
                            <template slot="title">
                                <div @click="toSet">
                                    <i class="el-icon-setting"></i>
                                    <span slot="title">其它设置</span>
                                </div>
                            </template>
                            <el-menu-item index="6-1">添加管理</el-menu-item>
                            <el-menu-item index="6-2">修改密码</el-menu-item>
                        </el-submenu>
                    </el-menu>
                </el-aside>

                <!-- 内容区域 -->
                <el-main>
                    <!-- 面包屑导航 -->
                    <el-breadcrumb separator-class="el-icon-arrow-right" class="crumbs">
                        <el-breadcrumb-item><span @click="toAdmin">趣二手</span></el-breadcrumb-item>
                        <el-breadcrumb-item><span @click="toGoods">商品管理</span></el-breadcrumb-item>
                        <el-breadcrumb-item>{{crumbsTitle}}</el-breadcrumb-item>
                    </el-breadcrumb>

                    <!-- 搜索区域 -->
                    <el-input placeholder="输入想要搜索的 商品名 !" class="serach" v-model="serachCont">
                        <i slot="suffix" class="el-input__icon el-icon-search"></i>
                    </el-input>

                    <div v-for="item in listData.msg" class="goodsItem">
                        <div class="goodsTitle">
                            <i>{{item.g_name}}</i>
                            <el-button class="delBtn" type="danger" size="mini" :data-id="'__APP__/Home/AdminUserGoods/deleteGoods?id='+item.g_id" plain
                                @click="delGoods($event)" v-show="listStatus">
                                <span @click="delGoods($event)" :data-id="'__APP__/Home/AdminUserGoods/deleteGoods?id='+item.g_id">删除</span>
                            </el-button>
                        </div>
                        <div class="goodsCont">
                            <img src="__PUBLIC__/img/admin/test.jpg" :alt="item.g_name" :title="item.g_name" class="goodsImg">
                            {{item.g_construct}}
                            <div class="goodsDetail">
                                    <i class="el-icon-tickets"></i>
                                    <span class="DetailName">类型：{{item.g_price}}</span>
                                    <i class="el-icon-goods"></i>
                                    <span class="DetailName">价格：{{item.g_price}}</span>
                                    <i class="el-icon-service"></i>
                                    <span class="DetailName">发布人：{{item.u_name}}</span>
                                    <i class="el-icon-time"></i>
                                    <span class="DetailName">发布时间：{{item.g_price}}</span>
                            </div>
                            <el-button class="detailBtn" type="primary" size="mini" :data-id="'__APP__/Home//?id='+item.g_id" plain @click="toGoods($event)">
                                <span :data-id="'__APP__/Home//?id='+item.g_id">详细信息</span>
                            </el-button>
                        </div>
                    </div>
                </el-main>
            </el-container>

            <!-- Footer 区域 -->
            <el-footer>
                <div class="links">
                    <script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
                    <span class="footer-mid">您是第&nbsp;&nbsp;
                        <span id="busuanzi_value_site_uv"></span>&nbsp;&nbsp;位小伙伴 !</span>
                    <a href="../login/login">用户登录</a>
                </div>
                <p class="copyright"> Copyright © 2018 趣二手 All Rights Reserved </p>
            </el-footer>
        </el-container>
    </div>

    <!-- VUE -->
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                crumbsTitle: '查看商品',
                serachCont: '',
                
                // 列表状态（展示、删除）
                listStatus: false,
                // 列表数据
                listData: {},
            },
            methods: {
                //路由方法
                toAdmin: function (params) {
                    location.href = '__APP__/Home/admin/admin';
                },
                toGoods: function () {
                    location.href = '__APP__/Home/admin/admin-goods';
                },
                toUser: function (params) {
                    location.href = '__APP__/Home/admin/admin-user';
                },
                toType: function (params) {
                    location.href = '__APP__/Home/admin/admin-type';
                },
                toInfo: function (params) {
                    location.href = '__APP__/Home/admin/admin-info';
                },
                toSet: function (params) {
                    location.href = '__APP__/Home/admin/admin-set';
                },

                // 导航方法
                crumbsSet: function (crumbs) {
                    this.crumbsTitle = crumbs;
                    switch (crumbs) {
                        case '删除商品':
                            this.listStatus = true;
                            break;
                        default:
                            this.listStatus = false;
                            break;
                    }
                },

                //退出登录
                loginOut: function () {
                    this.$confirm('您确定要 退出登录 吗 ？', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        let url = '__APP__/Home/Login/out_login';
                        let _that = this;
                        $.ajax({
                            url: url,
                            type: 'POST',
                            dataType: 'JSON',
                            success: function (data) {
                                location.href = '__APP__/Home/login/login_admin';
                            },
                            error: function () {
                                _that.$message({
                                    message: '网络 或者 服务器出错,请稍后重试！',
                                    type: 'error'
                                });
                            }
                        });
                    }).catch(() => {
                        return;
                    });
                },

                // 获取商品
                getInfo: function () {
                    let url = '__APP__/Home/AdminUserGoods/findGoods';
                    let _that = this;
                    $.ajax({
                        url: url,
                        dataType: 'JSON',
                        success: function (data) {
                            if( data.code == '0' ){
                                _that.listData = data;
                            } else if( data.code == '-1' ){
                                _that.$message({
                                    message: data.msg,
                                        type: 'warning'
                                });
                            }
                        },
                        error: function () {
                            _that.$message({
                                message: '网络 或者 服务器出错,请稍后重试！',
                                type: 'error'
                            });
                        }
                    });
                },
                toGoods: function() {
                    
                },
                // 删除商品
                delGoods: function (e) {
                    this.$confirm('您确定要删除该 物品 吗 ？', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        let delId = e.target.getAttribute('data-id');
                        let _that = this;
                        $.ajax({
                            url: delId,
                            type: 'GET',
                            dataType: 'JSON',
                            success: function (data) {
                                if (data.code == 1) {
                                    _that.$message({
                                        message: data.msg,
                                        type: 'success'
                                    });
                                    _that.getInfo();
                                } else {
                                    _that.$message({
                                        message: data.msg,
                                        type: 'error'
                                    });
                                }
                            },
                            error: function () {
                                _that.$message({
                                    message: '网络 或者 服务器出错,请稍后重试！',
                                    type: 'error'
                                });
                            }
                        });
                    }).catch(()=>{
                        return;
                    });
                },
            },
            mounted: function () {
                // 挂载实例、初始化列表
                this.getInfo();
            }
        })
    </script>
</body>

</html>