/* Header */
.el-header{
    width: 1080px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.el-header a{
    text-decoration: none;
}
.el-header .logo{
    font-size: 26px;
    font-weight: 700;
    color: #c60023;
    text-decoration: none;
    line-height: 60px;
}

/* Footer */
.el-footer {
    width: 1080px;
    height: 80px !important;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    font-size: 12px;
    color: #666;
    text-align: center;
}
.el-footer .links{
    margin: 15px 0;
}
.el-footer .links a{
    color: #666;
    padding: 10px;
    text-decoration: none;
}
.el-footer .copyright {
    margin: 10px 0;
}
/* ------------------------------------------------SCROLL START----------------------------------------------------- */
::-webkit-scrollbar {
  width: 10px;
  height: 10px; }

::-webkit-scrollbar-button {
  width: 0;
  height: 0; }

::-webkit-scrollbar-button:start:increment, ::-webkit-scrollbar-button:end:decrement {
  display: none; }

::-webkit-scrollbar-corner {
  display: block; }

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.2); }

::-webkit-scrollbar-thumb:hover {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
  border-right: 1px solid transparent;
  border-left: 1px solid transparent; }

::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0.15); }

::-webkit-scrollbar-button:start {
  width: 10px;
  height: 10px;
  background: url(../../img/assets/scrollbar_arrow.png) no-repeat 0 0; }

::-webkit-scrollbar-button:start:hover {
  background: url(../../img/assets/scrollbar_arrow.png) no-repeat -15px 0; }

::-webkit-scrollbar-button:start:active {
  background: url(../../img/assets/scrollbar_arrow.png) no-repeat -30px 0; }

::-webkit-scrollbar-button:end {
  width: 10px;
  height: 10px;
  background: url(../../img/assets/scrollbar_arrow.png) no-repeat 0 -18px; }

::-webkit-scrollbar-button:end:hover {
  background: url(../../img/assets/scrollbar_arrow.png) no-repeat -15px -18px; }

::-webkit-scrollbar-button:end:active {
  background: url(../../img/assets/scrollbar_arrow.png) no-repeat -30px -18px; }
/* ------------------------------------------------SCROLL END----------------------------------------------------- */
/* Main content */
.el-main {
    background: tomato;
}
.wrap{
    position: relative;
    width: 802px;
    margin: 0 auto;
    overflow: hidden;
}
/* 左侧提示图片 */
.left{
    float: left;
    width: 400px;
}
.left img{
    width: 50%;
    height: auto;
    margin: 30px auto;
}

/* 右侧注册表单 */
.right{
    float: right;
    width: 400px;
    background: #fff;
}
.right .title{
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 700;
    color: #666;
}
.right .items{
    padding: 20px;
}
.right .item{
    position: relative;
    border: 1px solid #bdbdbd;
    margin-bottom: 20px;
}
.right .item img{
    width: 358px;
    height: 38px;
}
.right .error{
    width: 358px;
    height: 38px;
    position: relative;
    color: #FF9900;
    text-align: center;
    line-height: 38px;
    margin-bottom: 20px;
    font-size: 19px;
    border: 1px solid #FF9900;
}
.right .showError{
    border: 1px solid red;
}
.right .error .error-logo{
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 30px;
    margin: 4px 0 0 4px;
    color: #fff;
    background: #FF9900;
}
.right .label{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    line-height: 36px;
    background: #f3f3f3;
    font-size: 18px;
    color: #d3d3d3;
    text-align: center;
    border-right: 1px solid #bdbdbd;
}
.right .cont{
    padding: 10px 0 10px 50px;
    width: 308px;
    height: 18px;
    line-height: 18px;
    font-size: 15px;
    color: #333;
    border: none;
    outline: none;
}
.right .submit-Btn{
    display: block;
    padding: 6px 0;
    width: 100%;
    text-align: center;
    background: tomato;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    border: none;
}
.right .tips{
    margin: 15px auto 0;
    text-align: right;
}
.right .tips a{
    color: #666;
    font-size: 12px;
    text-decoration: none;
}