<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>购买商品 - DSMall</title>

    <!-- ThirdParty -->
    <script src="http://p75wjroq9.bkt.clouddn.com/vue.min.js"></script>
    <script src="http://p75wjroq9.bkt.clouddn.com/jquery.min.js"></script>
    <script src="http://p75wjroq9.bkt.clouddn.com/element.min.js"></script>
    <link rel="stylesheet" href="http://p75wjroq9.bkt.clouddn.com/normalize.css">
    <link rel="stylesheet" href="__PUBLIC__/lib/element.min.css">
    <link rel="stylesheet" href="http://p75wjroq9.bkt.clouddn.com/iconfont.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="__PUBLIC__/css/index/rules.css">
</head>

<body>
    <!-- Layout -->
    <div id="app">
        <el-container>
            <!-- Header 区域 -->
            <el-header>
                <div class="headerWrap">
                    <a href="__APP__/Index/index">
                        <span class="logo">DSMall</span>
                    </a>
                    <div class="navLogin">
                        <a href="__APP__/Index/personal" v-if="isLogin">
                            <i class="icon iconfont icon-questions"></i>
                            <span> {{loginInfo}} </span>
                            <span @click="loginOut" class="outLogin"> &nbsp; &nbsp;退出 </span>
                        </a>
                        <a href="__APP__/Login/login" v-else>
                            <i class="icon iconfont icon-questions"></i>
                            <span> 立即登录 </span>
                        </a>
                    </div>
                    <div class="navList">
                        <a href="__APP__/Index/index">首页</a>
                        <a href="__APP__/Index/buy">寻购二货</a>
                        <a href="__APP__/Index/sale">出售二货</a>
                        <a href="__APP__/Index/personal">个人空间</a>
                        <a href="__APP__/Index/contact">关于我们</a>
                    </div>
                </div>
            </el-header>

            <!-- 内容区域 -->
            <el-main>
                <div class="releaseRules">
                    <span class="h1">发布规则</span>
                    <span class="cont">规则一：不得在本平台上发布商品图片与实物不一致的商品</span>
                    <span class="cont">规则二：不得在本平台上发布带有虚假诈骗信息的商品</span>
                    <span class="cont">规则三：不得在本平台上发布任何违法商品</span>
                    <span class="cont">规则四：不得在本平台上发布与商品无关信息</span>
                </div>
                <div class="releasePunish">
                    <span class="h1">惩罚措施</span>
                    <span class="cont">惩罚一：一经发现商品图片与实物不一致,将删除商品,予以封号处罚</span>
                    <span class="cont">惩罚二：一经发现发布带有虚假诈骗信息,将删除商品,予以封号处罚</span>
                    <span class="cont">惩罚三：一经发现发布违法商品,将删除商品,予以封号处罚</span>
                    <span class="cont">惩罚四：一经发现发布与商品无关信息,将删除商品,予以封号处罚</span>
                </div>
            </el-main>

            <!-- Footer区域 -->
            <el-footer>
                <div class="links">
                    <script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
                    <span class="footer-mid">您是第&nbsp;&nbsp;
                        <span id="busuanzi_value_site_uv"></span>&nbsp;&nbsp;位小伙伴 !</span>
                    <a href="__APP__/Index/index">系统首页</a> |
                    <a href="__APP__/Login/login.html">用户登录</a> |
                    <a href="__APP__/Login/loginAdmin.html">管理员登录</a>
                </div>
                <p class="copyright"> Copyright © 2018 DSMall All Rights Reserved </p>
            </el-footer>
        </el-container>
    </div>

    <!-- VUE -->
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                // 登录状态
                isLogin: false,
                // 登录的信息
                loginInfo: '',
            },
            methods: {
                // 加载登录状态
                loadingLogin: function (params) {
                    let url = '__APP__/Login/isLoginUser';
                    let _that = this;
                    $.ajax({
                        url: url,
                        dataType: 'JSON',
                        success: function (data) {
                            if (data.code == '0') {
                                _that.isLogin = true;
                                _that.loginInfo = data.msg;
                            }
                        },
                        error: function () {
                            _that.$message({
                                message: '网络 或者 服务器出错,请稍后重试！',
                                type: 'error'
                            });
                        }
                    });
                },

                // 退出登录
                loginOut: function (params) {
                    let url = '__APP__/Login/out_login';
                    let _that = this;
                    $.ajax({
                        url: url,
                        dataType: 'JSON',
                        success: function (data) {
                            _that.$message({
                                message: data.msg,
                                type: 'success'
                            });
                            location = '__APP__/Login/login'
                        },
                        error: function () {
                            _that.$message({
                                message: '网络 或者 服务器出错,请稍后重试！',
                                type: 'error'
                            });
                        }
                    });
                },
            },
            mounted: function () {
                // 判断是否登录
                this.loadingLogin();
            }
        })
    </script>
</body>

</html>