/* Header */
body{
    background: #F5F5F7;
}
.el-header{
    color: #fff;
    width: 100%;
    height: 600px !important;
    margin: 0 auto;
    overflow: hidden;
    transition: background 2s;
    -moz-transition: background 2s;
    -webkit-transition: background 2s;
    -o-transition: background 2s;
}

/* Footer */
.el-footer {
    width: 1200px;
    height: 80px !important;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    font-size: 12px;
    color: #666;
    text-align: center;
}
.el-footer .links{
    margin: 15px 0;
}
.el-footer .links a{
    color: #666;
    padding: 10px;
    text-decoration: none;
}
.el-footer .copyright {
    margin: 10px 0;
}
/*Main 导航*/
.el-main{
    width: 1200px;
    height: 900px;
    overflow: hidden;
    margin: -520px auto 0 auto;
}
.mainTitle{
    color: #F2C345;
    width: 300px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
}
.titleOne{
    font-family: '楷体';
    font-size: 70px;
    font-weight: bolder;
}
.titleTwo{
    margin-top: -30px;
    font-size: 30px;
}
.mainOverview{
    width: 1049px;
    height: 320px;
    overflow: hidden;
    margin: 50px auto 20px auto;
    border-radius: 5px;
    box-shadow: 0px 1px 15px #333333;
}
.mainOverview div{
    width: 349px;
    height: 320px;
    float: left;
}
.overBuy-bg{
    background: url('../../img/index/main-bg-1.jpg') center no-repeat;
    background-size: 100%;
    border-right: 1px solid #ddd;
}
.overLogin-bg{
    background: url('../../img/index/main-bg-2.jpg') center no-repeat;
    background-size: 100%;
    border-right: 1px solid #ddd;
}
.overSale-bg{
    background: url('../../img/index/main-bg-3.jpg') center no-repeat;
    background-size: 100%;
}
.overBuy,.overLogin,.overSale{
    background: #fff;
    transition:background .8s;
    -moz-transition:background .8s;
    -webkit-transition:background .8s;
    -o-transition:background .8s;
}
.square a{
    text-decoration: none;
}
.square p{
    color: #666;
    font-size: 25px;
    font-family: '楷体';
    text-align: center;
}
.square p i{
    color: #F2C345;
    font-size: 50px;
}
.square h5{
    color: #666;
    text-align: center;
}
.square .el-button{
    display: block;
    margin: 50px auto;
}
.overBuy:hover,.overLogin:hover,.overSale:hover{
    color: #fff;
    background: rgba(10, 11, 12, 0.6);
}
.overBuy:hover > p > i ,.overLogin:hover > p > i ,.overSale:hover > p > i {
    color: #fff;
}
.overBuy:hover > h5,.overLogin:hover > h5,.overSale:hover > h5{
    color: #fff;
}