/* Header */
body{
    background: #F5F5F7;
}
.el-header{
    color: #fff;
    width: 100%;
    height: 600px !important;
    margin: 0 auto;
    overflow: hidden;
    transition: background 2s;
    -moz-transition: background 2s;
    -webkit-transition: background 2s;
    -o-transition: background 2s;
}
/* Footer */
.el-footer {
    height: 80px !important;
    position: relative;
    overflow: hidden;
    font-size: 12px;
    color: #666;
    text-align: center;
    box-shadow: 0 -1px 5px #e6e6e6;
}
.el-footer .links{
    margin: 15px 0;
}
.el-footer .links a{
    color: #666;
    padding: 10px;
    text-decoration: none;
}
.el-footer .copyright {
    margin: 10px 0;
}
/* ------------------------------------------------SCROLL START----------------------------------------------------- */
::-webkit-scrollbar {
  width: 10px;
  height: 10px; }

::-webkit-scrollbar-button {
  width: 0;
  height: 0; }

::-webkit-scrollbar-button:start:increment, ::-webkit-scrollbar-button:end:decrement {
  display: none; }

::-webkit-scrollbar-corner {
  display: block; }

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.2); }

::-webkit-scrollbar-thumb:hover {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
  border-right: 1px solid transparent;
  border-left: 1px solid transparent; }

::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0.15); }

::-webkit-scrollbar-button:start {
  width: 10px;
  height: 10px;
  background: url(../../img/assets/scrollbar_arrow.png) no-repeat 0 0; }

::-webkit-scrollbar-button:start:hover {
  background: url(../../img/assets/scrollbar_arrow.png) no-repeat -15px 0; }

::-webkit-scrollbar-button:start:active {
  background: url(../../img/assets/scrollbar_arrow.png) no-repeat -30px 0; }

::-webkit-scrollbar-button:end {
  width: 10px;
  height: 10px;
  background: url(../../img/assets/scrollbar_arrow.png) no-repeat 0 -18px; }

::-webkit-scrollbar-button:end:hover {
  background: url(../../img/assets/scrollbar_arrow.png) no-repeat -15px -18px; }

::-webkit-scrollbar-button:end:active {
  background: url(../../img/assets/scrollbar_arrow.png) no-repeat -30px -18px; }
/* ------------------------------------------------SCROLL END----------------------------------------------------- */
/*Main 导航*/
.el-main{
    width: 100%;
    overflow: hidden;
    margin: -520px auto 0 auto;
    padding: 0;
}
.mainTitle{
    color: #F2C345;
    width: 300px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
}
.titleOne{
    font-family: '楷体';
    font-size: 70px;
    font-weight: bolder;
}
.titleTwo{
    margin-top: -30px;
    font-size: 30px;
}
.mainOverview{
    width: 1049px;
    height: 320px;
    overflow: hidden;
    margin: 50px auto 20px auto;
    border-radius: 5px;
    box-shadow: 0px 1px 15px #333333;
}
.mainOverview div{
    width: 349px;
    height: 320px;
    float: left;
}
.overBuy-bg{
    background: url('http://p75wjroq9.bkt.clouddn.com/main-bg-1.jpg') center no-repeat;
    background-size: 100%;
    border-right: 1px solid #ddd;
}
.overLogin-bg{
    background: url('http://p75wjroq9.bkt.clouddn.com/main-bg-2.jpg') center no-repeat;
    background-size: 100%;
    border-right: 1px solid #ddd;
}
.overSale-bg{
    background: url('http://p75wjroq9.bkt.clouddn.com/main-bg-3.jpg') center no-repeat;
    background-size: 100%;
}
.overBuy,.overLogin,.overSale{
    background: #fff;
    transition:background .8s;
    -moz-transition:background .8s;
    -webkit-transition:background .8s;
    -o-transition:background .8s;
}
.square a{
    text-decoration: none;
}
.square p{
    color: #666;
    font-size: 25px;
    font-family: '楷体';
    text-align: center;
}
.square p i{
    color: #F2C345;
    font-size: 50px;
}
.square h5{
    color: #666;
    text-align: center;
}
.square .el-button{
    display: block;
    margin: 50px auto;
}
.overBuy:hover,.overLogin:hover,.overSale:hover{
    color: #fff;
    background: rgba(10, 11, 12, 0.6);
}
.overBuy:hover > p > i ,.overLogin:hover > p > i ,.overSale:hover > p > i {
    color: #fff;
}
.overBuy:hover > h5,.overLogin:hover > h5,.overSale:hover > h5{
    color: #fff;
}
/* 功能点介绍 */
.mainFun{
    width: 1050px;
    padding: 10px 0;
    margin: 0 auto;
}
.mainFun .mainFun-title{
    color: #f56c6c;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 32px;
    font-family: '楷体';
}
.mainFun-list{
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.listItem{
    margin: 10px 0;
    width: 243px;
    height: 170px;
    position: relative;
}
.listItem i{
    color: #f56c6c;
    line-height: 200px;
    margin-left: 40px;
    font-size: 30px;
    float: left;
}
.listItem span{
    width: 50px;
    text-align: center;
    position: absolute;
    left: 0;right: 0;
    margin: 20px auto;
    font-family: '楷体';
    font-size: 22px;
}
.listItem p{
    margin: 75px 0 0 95px;
    line-height: 30px;  
}
/* banner */
.mainBanner{
    height: 500px;
    background: url(../../img/assets/index-bg1.jpg) no-repeat center;
}
.bannerBox{
    width: 900px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    align-items: center;
}
.bannerLeft{
    width: 400px;
    height: 400px;
}
.mainBanner{
    margin-top: 20px;
}
.bannerBox .bannerLeft p{
    color: #4D6D60;
    font-family: '楷体';
    line-height: 25px;
    font-size: 22px;
    text-align: center;
}
.mainContact{
    height: 300px;
    background: #fff;
    overflow: hidden;
    font-family: '楷体';
    font-size: 22px;
}
.mainContact a{
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    border: 2px solid #ff5274;
    border-radius: 40px;
    display: block;
    text-align: center;
    transition-timing-function: ease;
    transition-duration: .2s;
    transition-property: color,border-color,background-color;
    color: #ff5274;
    background-color: transparent;
    text-decoration: none;
}
.mainContact a:hover{
    color: #fff;
    background: #ff5274;
}
.mainContact p{
    text-align: center;
    line-height: 50px;
}
.mainContact p:first-child{
    margin-top: 40px;
}