/* Header */
body{
    background: #F5F5F7;
}
.el-header a{
    text-decoration: none;
}
.el-header{
    box-shadow: 1px 0 4px #e6e6e6;
}
.headerWrap{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.el-header .logo{
    float: left;
    font-size: 26px;
    font-weight: 700;
    color: #08B35F;
    text-decoration: none;
    line-height: 60px;
    margin-left: 60px;
}

/* Footer */
.el-footer {
    width: 1200px;
    height: 80px !important;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    font-size: 12px;
    color: #666;
    text-align: center;
}
.el-footer .links{
    margin: 15px 0;
}
.el-footer .links a{
    color: #666;
    padding: 10px;
    text-decoration: none;
}
.el-footer .copyright {
    margin: 10px 0;
}
/* ------------------------------------------------SCROLL START----------------------------------------------------- */
::-webkit-scrollbar {
  width: 10px;
  height: 10px; }

::-webkit-scrollbar-button {
  width: 0;
  height: 0; }

::-webkit-scrollbar-button:start:increment, ::-webkit-scrollbar-button:end:decrement {
  display: none; }

::-webkit-scrollbar-corner {
  display: block; }

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.2); }

::-webkit-scrollbar-thumb:hover {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
  border-right: 1px solid transparent;
  border-left: 1px solid transparent; }

::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0.15); }

::-webkit-scrollbar-button:start {
  width: 10px;
  height: 10px;
  background: url(../../img/assets/scrollbar_arrow.png) no-repeat 0 0; }

::-webkit-scrollbar-button:start:hover {
  background: url(../../img/assets/scrollbar_arrow.png) no-repeat -15px 0; }

::-webkit-scrollbar-button:start:active {
  background: url(../../img/assets/scrollbar_arrow.png) no-repeat -30px 0; }

::-webkit-scrollbar-button:end {
  width: 10px;
  height: 10px;
  background: url(../../img/assets/scrollbar_arrow.png) no-repeat 0 -18px; }

::-webkit-scrollbar-button:end:hover {
  background: url(../../img/assets/scrollbar_arrow.png) no-repeat -15px -18px; }

::-webkit-scrollbar-button:end:active {
  background: url(../../img/assets/scrollbar_arrow.png) no-repeat -30px -18px; }
/* ------------------------------------------------SCROLL END----------------------------------------------------- */
/* Nav 登录 */
.navLogin{
    float: right;
    width: 200px;
    height: 60px;
    text-align: center;
    overflow: hidden;
}
.navLogin a{
    font-size: 16px;
    text-decoration: none;
    line-height: 60px;
    /* color: #097653; */
    color: #08B35F;
}
.navLogin i{
    font-size: 18px;
}
.outLogin{
    color: crimson;
}
/* Nav 菜单 */
.navList{
    width: 600px;
    height: 60px;
    margin: 0 auto;
}
.navList a{
    display: block;
    float: left;
    position: relative;
    
    width: 70px;
    height: 55px;
    line-height: 60px;
    text-align: center;
    margin: 0 20px;
    
    color: #000;
    font-size: 14px;
    text-decoration: none;
}
.navList a:after{
    content: "";
    width: 0;
    height: 1px;
    background: #08B35F;
    position: absolute;
    top: 100%;
    left: 50%;
    transition: all .3s;
}
.navList a:hover:after{
    left: 0%;
    width: 100%;
}
/* Main 区域 */
.el-main{
    width: 1100px;
    margin: 40px auto;
    background: #fff;
    overflow: hidden;
    border-radius: 10px;
}

.personal-top{/*头部总盒子*/
    width: 100%;
    padding: 20px 0 0 0;
	margin: 0 auto;	
    overflow: hidden;
    padding-bottom: 30px;
}
.personal-photoWr{
	z-index: 20;
	width: 120px;
	height: 120px;
	margin: 0 auto;
	margin-top: 30px;
	border-radius: 120px;
}
.personal-photoWr img{
	width: 120px;
	height: 120px;
	border-radius: 120px;
}
.waves{/*水波效果盒子*/
	z-index: 1;
	width: 120px;
	height: 120px;
	margin: 0 auto;
	margin-top: -122px;
	border-radius: 120px;
	border: 2px solid #8FB729;

	-webkit-animation: waves 2s ease-out;
	-moz-animation: waves 2s ease-out;
	animation: waves 2s ease-out;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
/*CSS3/头部的水波效果动画*/
@keyframes waves {  
	0% {
		transform: scale(1);
		opacity: 0.3;
	}
	100% {  
		transform: scale(1.5);  
		opacity: 0.0;  
	}
}  
@-webkit-keyframes waves {
	0% {
		transform: scale(1);
		opacity: 0.3;
	}
	100% {  
		transform: scale(1.5);  
		opacity: 0.0;  
	}
}
.personal-mid{
    min-height: 80px;
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    border-bottom: #08B35F 1px solid;
}
.personal-mid span{
    display: inline-block;
    width: 300px;
    line-height: 30px;
    text-align: center;
}

/* 商品列表 */
.personal-bot{
    overflow: hidden;
}
.goodsList {
    width: 90%;
    overflow: hidden;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 1px 0 4px #e6e6e6;
}
.goodsList:first-child{
    margin-top: 50px;
}
/* 标题 */
.goodsList .listTitle {
    height: 40px;
    line-height: 40px;
}
.goodsList .listTitle .el-button{
    float: right;
    margin-right: 20px;
}
/* 图片 */
.goodsList .listImg{
    float: left;
    width: 170px;
    height: 170px;
    margin-top: 10px;
    margin-right: 20px;
    overflow: hidden;
}
.goodsList .listImg img{
    width: 100%;
    height: 100%;
}
/* 右侧内容 */
.goodsList .listRight{
    width: 100%;
    height: 180px;
    margin-top: 10px;
    position: relative;
}
.goodsList .listRight .listCont{
    position: absolute;
    width: 700px;
    height: 90px;
    padding: 0;
    top: 40px;
    left: 200px;
    line-height: 30px;
    text-indent: 2em;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.goodsList .listRight .listFooter{
    width: 710px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    bottom: 10px;right: 0;
    padding: 0 20px;
}
.goodsList .listRight .listFooter .el-button{
    float: right;
}