/* Header */
body{
    background: #F5F5F7;
}
.el-header a{
    text-decoration: none;
}
.el-header{
    box-shadow: 1px 0 4px #e6e6e6;
}
.headerWrap{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.el-header .logo{
    float: left;
    font-size: 26px;
    font-weight: 700;
    color: #08B35F;
    text-decoration: none;
    line-height: 60px;
    margin-left: 60px;
}

/* Footer */
.el-footer {
    width: 1200px;
    height: 80px !important;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    font-size: 12px;
    color: #666;
    text-align: center;
}
.el-footer .links{
    margin: 15px 0;
}
.el-footer .links a{
    color: #666;
    padding: 10px;
    text-decoration: none;
}
.el-footer .copyright {
    margin: 10px 0;
}
/* Nav 登录 */
.navLogin{
    float: right;
    width: 200px;
    height: 60px;
    text-align: center;
    overflow: hidden;
}
.navLogin a{
    font-size: 16px;
    text-decoration: none;
    line-height: 60px;
    /* color: #097653; */
    color: #08B35F;
}
.navLogin i{
    font-size: 18px;
}
.outLogin{
    color: crimson;
}
/* Nav 菜单 */
.navList{
    width: 600px;
    height: 60px;
    margin: 0 auto;
}
.navList a{
    display: block;
    float: left;
    position: relative;
    
    width: 70px;
    height: 55px;
    line-height: 60px;
    text-align: center;
    margin: 0 20px;
    
    color: #000;
    font-size: 14px;
    text-decoration: none;
}
.navList a:after{
    content: "";
    width: 0;
    height: 1px;
    background: #08B35F;
    position: absolute;
    top: 100%;
    left: 50%;
    transition: all .3s;
}
.navList a:hover:after{
    left: 0%;
    width: 100%;
}
/* Main 区域 */
.el-main{
    width: 900px;
    margin: 40px auto;
    background: #fff;
    overflow: hidden;
    border-radius: 10px;
}
.el-main .title{
    color: crimson;
    width: 340px;
    margin: 20px auto;
    text-align: center;
    font-size: 22px;
}
.el-main p{
    width: 80%;
    margin-left: 10%;
    font-family: '楷体';
    font-size: 20px;
    padding: 20px 0;
    border-bottom: 1px solid #08B35F;
}
.el-main .infoList{
    width: 70%;
    padding: 5px 10px;
    margin: 20px auto;
    line-height: 40px;
}
.el-main .infoList i{
    float: left;
    font-size: 18px;
}
.el-main .infoList:nth-child(1){
    margin-top: 40px;
}
.el-main .infoList .listSpan{
    height: 40px;
    font-size: 18px;
    float: left;
}
.el-main .infoList .el-input{
    width: 60%;
}
.el-main .infoList .el-textarea{
    width: 60%;
}
.el-upload,.el-upload__tip{
    margin-left: 82px;
}
.typeList{
    width: 80%;
    margin-left: 80px;
}
.submitPicBtn{
    width: 100px;
    height: 40px;
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    margin: auto;
}
/* 图片上传按钮 */
.picBtn {
    font-size: 14px;
    padding: 5px;
    position: relative;
    display: inline-block;
    background: #409EFF;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
    text-indent: 0;
    line-height: 30px;
}
.picBtn input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.picBtn:hover {
    background: #66b1ff;
}
.picList{
    padding: 5px 10px;
}
.picList button{
    float: right;
    font-size: 16px;
}