<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>购买商品 - 趣二手</title>

    <!-- ThirdParty -->
    <script src="http://p75wjroq9.bkt.clouddn.com/vue.min.js"></script>
    <script src="http://p75wjroq9.bkt.clouddn.com/jquery.min.js"></script>
    <script src="http://p75wjroq9.bkt.clouddn.com/element.min.js"></script>
    <link rel="stylesheet" href="http://p75wjroq9.bkt.clouddn.com/normalize.css">
    <link rel="stylesheet" href="__PUBLIC__/lib/element.min.css">
    <link rel="stylesheet" href="http://p75wjroq9.bkt.clouddn.com/iconfont.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="__PUBLIC__/css/index/qzone.css">
</head>

<body>
    <!-- Layout -->
    <div id="app">
        <el-container>
            <!-- Header 区域 -->
            <el-header>
                <div class="headerWrap">
                    <a href="__APP__/Index/index">
                        <span class="logo">趣二手</span>
                    </a>
                    <div class="navLogin">
                        <a href="__APP__/Index/personal" v-if="isLogin">
                            <i class="icon iconfont icon-questions"></i>
                            <span> {{loginInfo}} </span>
                            <span @click="loginOut" class="outLogin"> &nbsp; &nbsp;退出 </span>
                        </a>
                        <a href="__APP__/Login/login" v-else>
                            <i class="icon iconfont icon-questions"></i>
                            <span> 立即登录 </span>
                        </a>
                    </div>
                    <div class="navList">
                        <a href="__APP__/Index/index">首页</a>
                        <a href="__APP__/Index/buy">寻购二货</a>
                        <a href="__APP__/Index/sale">出售二货</a>
                        <a href="__APP__/Index/personal">个人空间</a>
                        <a href="__APP__/Index/contact">关于我们</a>
                    </div>
                </div>
            </el-header>

            <!-- 内容区域 -->
            <el-main v-loading="loadingStatus">
                <div class="personal-top">
                    <div class="personal-photoWr">
                        <img class="personal-photo" src="http://p75wjroq9.bkt.clouddn.com/user-icon.png" title="用户头像" alt="用户头像">
                    </div>
                    <div class="waves"></div>
                </div>
                <div class="personal-mid" v-for="item in publishInfo.info">
                    <span>联系电话：{{item.u_telphone}}</span>
                    <span>{{item.u_name}}</span>
                    <span>交易地点：{{item.u_place}}</span>
                </div>
                <personal-bot>
                    <div class="goodsList" v-for="(item,index) in publishInfo.msg">
                        <div class="listTitle">
                            <span>{{index+1}}、{{item.g_name}}</span>
                            <el-button type="primary" icon="el-icon-arrow-document" circle :data-id="item.g_id" @click="toGoods(item.g_id)">查看详情</el-button>
                        </div>
                        <div class="listImg">
                            <img :src="'__PUBLIC__/img/goods/'+publishImg[index]" alt="">
                        </div>
                        <div class="listRight">
                            <div class="listCont"  :class="{ gray:item.g_status==='-1' }">
                                {{item.g_construct}}
                            </div>
                            <div class="listFooter"  :class="{ gray:item.g_status==='-1' }">
                                <span class="footerType">类型：{{item.g_type}}&nbsp;&nbsp;&nbsp;</span>
                                <span class="footerType">价格：{{item.g_price}}&nbsp;&nbsp;&nbsp;</span>
                                <span class="footerType">发布时间：{{item.g_time}}&nbsp;&nbsp;&nbsp;</span>
                            </div>
                        </div>
                    </div>
                </personal-bot>
            </el-main>

            <!-- Footer区域 -->
            <el-footer>
                <div class="links">
                    <script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
                    <span class="footer-mid">您是第&nbsp;&nbsp;
                        <span id="busuanzi_value_site_uv"></span>&nbsp;&nbsp;位小伙伴 !</span>
                    <a href="__APP__/Index/index">系统首页</a> |
                    <a href="__APP__/Login/login.html">用户登录</a> |
                    <a href="__APP__/Login/loginAdmin.html">管理员登录</a>
                </div>
                <p class="copyright"> Copyright © 2018 趣二手 All Rights Reserved </p>
            </el-footer>
        </el-container>
    </div>

    <!-- VUE -->
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                // 登录状态
                isLogin: false,
                // 登录的信息
                loginInfo: '',
                loadingStatus: false,

                // 发布历史
                publishInfo: {},
                publishImg: [],
            },
            methods: {
                // 加载登录状态
                loadingLogin: function (params) {
                    let url = '__APP__/Login/isLoginUser';
                    let _that = this;
                    $.ajax({
                        url: url,
                        dataType: 'JSON',
                        success: function (data) {
                            if (data.code == '0') {
                                _that.isLogin = true;
                                _that.loginInfo = data.msg;
                            }
                        },
                        error: function () {
                            _that.$message({
                                message: '网络 或者 服务器出错,请稍后重试！',
                                type: 'error'
                            });
                        }
                    });
                },

                getInfo: function name(params) {
                    let url = '__APP__/Personal/goodsList';
                    let _that = this;
                    let id = this.getParam('id');
                    _that.loadingStatus = true;
                    $.ajax({
                        url: url,
                        type: 'POST',
                        data: {id:id},
                        dataType: 'JSON',
                        success: function (data) {
                            _that.loadingStatus = false;
                            if (data.code == '0') {
                                _that.publishInfo = data;
                                _that.getImgList('publishImg', 'publishInfo');
                            } else if (data.code == '-1') {
                                _that.$confirm('您输入的用户链接有误，该个人空间不存在！', '出错', {
                                    confirmButtonText: '返回上一页',
                                    cancelButtonText: '返回主页',
                                    type: 'warning'
                                }).then(() => {
                                    if (history.length == 2) {
                                        location = '__APP__/Index/index';
                                    } else {
                                        history.go(-1);
                                    }
                                }).catch(() => {
                                    location = '__APP__/Index/index';
                                });
                            }
                        },
                        error: function () {
                            _that.loadingStatus = false;
                            _that.$message({
                                message: '网络 或者 服务器出错,请稍后重试！',
                                type: 'error'
                            });
                        }
                    });
                },

                getImgList: function (params, data) {
                    this[params] = [];
                    let temp = '';

                    if (this[data].code == '0') {
                        for (let index = 0; index < this[data].msg.length; index++) {
                            this[params].push(this[data].msg[index].g_picture.split('|')[0]);
                        }
                    }

                    return;
                },

                getParam: function (paramName) {
                    paramValue = "", isFound = !1;
                    if (location.search.indexOf("?") == 0 && location.search.indexOf("=") > 1) {
                        arrSource = unescape(location.search).substring(1, location.search.length).split("&"), i = 0;
                        while (i < arrSource.length && !isFound)
                            arrSource[i].indexOf("=") > 0 && arrSource[i].split("=")[0].toLowerCase() == paramName.toLowerCase() && (paramValue = arrSource[i].split("=")[1], isFound = !0), i++
                    }
                    return paramValue == "" && (paramValue = null), paramValue;
                },
                
                toGoods: function (params) {
                    location = '__APP__/Index/detail?id=' + params;
                },

                // 退出登录
                loginOut: function (params) {
                    let url = '__APP__/Login/out_login';
                    let _that = this;
                    $.ajax({
                        url: url,
                        dataType: 'JSON',
                        success: function (data) {
                            _that.$message({
                                message: data.msg,
                                type: 'success'
                            });
                            location = '__APP__/Login/login'
                        },
                        error: function () {
                            _that.$message({
                                message: '网络 或者 服务器出错,请稍后重试！',
                                type: 'error'
                            });
                        }
                    });
                },
            },
            mounted: function () {
                // 判断是否登录
                this.loadingLogin();
                this.getInfo();
            }
        })
    </script>
</body>

</html>