<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>出售商品 - 趣二手</title>

    <!-- ThirdParty -->
    <script src="__PUBLIC__/lib/vue.min.js"></script>
    <script src="__PUBLIC__/lib/jquery.min.js"></script>
    <script src="__PUBLIC__/lib/element.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/lib/normalize.css">
    <link rel="stylesheet" href="__PUBLIC__/lib/element.min.css">
    <link rel="stylesheet" href="__PUBLIC__/lib/fonts/iconfont.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="__PUBLIC__/css/index/sale.css">
</head>

<body>
    <!-- Layout -->
    <div id="app">
        <el-container>
            <!-- Header 区域 -->
            <el-header>
                <div class="headerWrap">
                    <a href="__APP__/Home/index/index"><span class="logo">趣二手</span></a>
                    <div class="navLogin">
                        <a href="__APP__/Home/index/personal" v-if="isLogin">
                            <i class="icon iconfont icon-questions"></i>
                            <span> {{loginInfo}} </span>
                            <span @click="loginOut" class="outLogin"> &nbsp; &nbsp;退出 </span>
                        </a>
                        <a href="__APP__/Home/login/login" v-else>
                            <i class="icon iconfont icon-questions"></i>
                            <span> 立即登录 </span>
                        </a>
                    </div>
                    <div class="navList">
                        <a href="__APP__/Home/index/index">首页</a>
                        <a href="__APP__/Home/index/buy">寻购二货</a>
                        <a href="__APP__/Home/index/sale">出售二货</a>
                        <a href="__APP__/Home/index/qa">二货问答</a>
                        <a href="__APP__/Home/index/contact">联系我们</a>
                    </div>
                </div>
            </el-header>

            <!-- 内容区域 -->
            <el-main v-loading="!isLogin&&typeInfo">
                <div class="title">趣二手 · 专属于你的二手商店</div>
                <P>商品信息</P>
                <form enctype="multipart/form-data" id="pubForm">
                    <div class="infoList">
                        <i class="icon iconfont icon-task"></i>
                        <span class="listSpan">&nbsp;&nbsp;名称：</span>
                        <el-input name="g_name" v-model="releaseInfo.g_name"></el-input>
                    </div>
                    <div class="infoList">
                        <i class="icon iconfont icon-order"></i>
                        <span class="listSpan">&nbsp;&nbsp;类型：</span>
                        <div class="typeList">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <el-radio name="g_type" label="其它"  v-model="releaseInfo.g_type">其它</el-radio>
                            <el-radio name="g_type" :label="item.t_type" v-for="item in typeInfo"  v-model="releaseInfo.g_type">{{item.t_type}}</el-radio>
                        </div>
                    </div>
                    <div class="infoList">
                        <i class="icon iconfont icon-coupons"></i>
                        <span class="listSpan">&nbsp;&nbsp;价格：</span>
                        <el-input name="g_price" v-model="releaseInfo.g_price"></el-input>
                    </div>
                    <div class="infoList">
                        <i class="icon iconfont icon-message"></i>
                        <span class="listSpan">&nbsp;&nbsp;描述：</span>
                        <el-input type="textarea" name="g_construct"  v-model="releaseInfo.g_construct"></el-input>
                    </div>
                    <p>上传图片</p>
                    <div class="infoList">
                        <a href="javascript:;" class="picBtn">
                            <input type="file" accept="image/png,image/gif,image/jpg,image/jpeg" @change="picShow" name="g_pricture[]" multiple="multiple">点击上传</input>
                        </a>
                        <div class="picList" v-for="item in releaseInfo.g_pricture">{{item}}</div>
                    </div>
                    <p>关于发布</p>
                    <div class="infoList">
                        <el-checkbox v-model="agreeStatus" @click="agreeStatus=!agreeStatus">我同意《趣二手商品发布规则》</el-checkbox>
                    </div>
                    <div class="infoList">
                        <el-button size="mini" type="success" @click="pubGoods" :disabled="!agreeStatus">立即发布</el-button>
                    </div>
                </form>
            </el-main>

            <!-- Footer区域 -->
            <el-footer>
                <div class="links">
                    <a target="_blank" href="http://www.xiyou.edu.cn/">西邮官网</a> |
                    <a target="_blank" href="http://cs.xupt.edu.cn:81/xiyoucs/index.asp">计算机学院</a> |
                    <a target="_blank" href="http://gr.xupt.edu.cn/">研究生院</a> |
                    <a href="__APP__/Home/login/login-admin.html">管理员登录</a>
                </div>
                <p class="copyright"> Copyright © 2018 趣二手 All Rights Reserved </p>
            </el-footer>
        </el-container>
    </div>

    <!-- VUE -->
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                // 登录状态
                isLogin: false,
                // 登录的信息
                loginInfo: '',

                // 商品类型数据
                typeInfo: {},         

                // 发布物品的数据
                releaseInfo: {
                    g_name: '',
                    g_type: '',
                    g_price: '',
                    g_construct: '',
                    g_pricture: [],
                },

                // 是否同意协议
                agreeStatus: false,

            },
            methods: {
                // 加载登录状态
                loadingLogin: function (params) {
                    let url = '__APP__/Home/Login/isLoginUser';
                    let _that = this;
                    $.ajax({
                        url: url,
                        dataType: 'JSON',
                        success: function (data) {
                            if (data.code == '0') {
                                _that.isLogin = true;
                                _that.loginInfo = data.msg;
                                _that.getType();
                            } else if (data.code == '-1') {
                                _that.$message({
                                    message: data.msg,
                                    type: 'error'
                                });
                                setTimeout(() => {
                                    location = '__APP__/Home/login/login';
                                }, 2000);
                            }
                        },
                        error: function () {
                            _that.$message({
                                message: '网络 或者 服务器出错,请稍后重试！',
                                type: 'error'
                            });
                        }
                    });
                },
                
                // 获取商品类型
                getType: function (params) {
                    let url = '__APP__/Home/Personal/findType';
                    let _that = this;
                    $.ajax({
                        url: url,
                        dataType: 'JSON',
                        success: function (data) {
                            if (data.code == '0') {
                                _that.typeInfo = data.msg;
                            }
                        },
                        error: function () {
                            _that.$message({
                                message: '网络 或者 服务器出错,请稍后重试！',
                                type: 'error'
                            });
                        }
                    });
                },
                
                // 发布商品
                pubGoods: function (params) {
                    if( this.formCheck() ){
                        this.$confirm('您确定要 发布该商品 吗 ？', '提示', {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消',
                            type: 'warning'
                        }).then(() => {
                            let _that = this;
                            let url = '__APP__/Home/Personal/publishGoods';
                            let data = new FormData($('#pubForm')[0]);
                            $.ajax({
                                url: url,
                                type: 'POST',
                                data: data,
                                cache: false,
                                processData: false,
                                contentType: false,
                                success: function (data) {
                                    if (data.code == '0') {
                                        _that.$message({
                                            message: data.msg,
                                            type: 'success'
                                        });
                                        location.href = '__APP__/Home/index/buy';
                                    } else if (data.code == '-1') {
                                        _that.$message({
                                            message: data.msg,
                                            type: 'error'
                                        });
                                    }
                                },
                                error: function () {
                                    _that.$message({
                                        message: '网络 或者 服务器出错,请稍后重试！',
                                        type: 'error'
                                    });
                                }
                            });
                        }).catch(() => {
                            return;
                        });
                    }
                },

                // 表单验证
                formCheck: function (params) {
                    let obj = this.releaseInfo;
                    let errorTips = '';
                    for (const key in obj) {
                        if(!obj[key].length){
                            this.errorTips('请填写完整商品信息！');
                            return false;
                        }
                    }
                    if( obj.g_name.length>8 || obj.g_name.length<3 ){
                        this.errorTips('商品名称 长度应该介于 3~8字 之间！');
                        return false;
                    }
                    if( obj.g_construct.length<10 || obj.g_construct.length>100 ){
                        this.errorTips('商品描述 请控制在 10~100字 之间！');
                        return false;
                    }
                    if (obj.g_pricture.length < 1 || obj.g_pricture.length > 5) {
                        this.errorTips('商品图片 请控制在 1~5张 之间！');
                        return false;
                    }
                    return true;
                },

                errorTips: function (params) {
                    this.$message({
                        message: params,
                        type: 'error'
                    });
                },

                // 图片名称展示
                picShow: function (params) {
                    this.releaseInfo.g_pricture = [];
                    for (let index = 0; index < params.target.files.length; index++) {
                        this.releaseInfo.g_pricture.push(params.target.files[index].name);
                    }
                },

                // input file 无法清空或删除某一元素，导致不能直接通过原始表单上传数据
                // 采用模拟数据时，file 类型无法 append
                // 所以去掉删除某一图片的功能，直接用原始表单上传

                // picRemove: function (params) {
                //     let el = params.target.getAttribute('data-id');
                //     var index = this.releaseInfo.g_pricture.indexOf(el);
                    
                //     if (index > -1) {
                //         this.releaseInfo.g_pricture.splice(index, 1);
                //         this.fileValue = '';
                //     }
                // },

                // 退出登录
                loginOut: function (params) {
                    let url = '__APP__/Home/Login/out_login';
                    let _that = this;
                    $.ajax({
                        url: url,
                        dataType: 'JSON',
                        success: function (data) {
                            _that.$message({
                                message: data.msg,
                                type: 'success'
                            });
                            _that.isLogin = false;
                            location = '__APP__/Home/login/login'
                        },
                        error: function () {
                            _that.$message({
                                message: '网络 或者 服务器出错,请稍后重试！',
                                type: 'error'
                            });
                        }
                    });
                }
            },
            mounted: function () {
                // 判断是否登录
                this.loadingLogin();
            }
        })
    </script>
</body>

</html>