<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人空间 - 趣二手</title>

    <!-- ThirdParty -->
    <script src="__PUBLIC__/lib/vue.min.js"></script>
    <script src="__PUBLIC__/lib/jquery.min.js"></script>
    <script src="__PUBLIC__/lib/element.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/lib/normalize.css">
    <link rel="stylesheet" href="__PUBLIC__/lib/element.min.css">
    <link rel="stylesheet" href="__PUBLIC__/lib/fonts/iconfont.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="__PUBLIC__/css/index/sale.css">
</head>

<body>
    <!-- Layout -->
    <div id="app">
        <el-container>
            <!-- Header 区域 -->
            <el-header>
                <span class="logo">趣二手</span>
                <div class="navLogin">
                    <a href="__APP__/Home/index/personal" v-if="isLogin">
                        <i class="icon iconfont icon-questions"></i>
                        <span> {{loginInfo}} </span>
                        <span @click="loginOut" class="outLogin"> &nbsp; &nbsp;退出 </span>
                    </a>
                    <a href="../login/login" v-else>
                        <i class="icon iconfont icon-questions"></i>
                        <span> 立即登录 </span>
                    </a>
                </div>
                <div class="navList">
                    <a href="../index/index">首页</a>
                    <a href="">寻购二货</a>
                    <a href="../index/sale">出售二货</a>
                    <a href="">二货问答</a>
                    <a href="">联系我们</a>
                </div>
            </el-header>

            <!-- 内容区域 -->
            <el-main v-loading="!isLogin">
                <div class="title">趣二手 · 专属于你的二手商店</div>
                <P>商品信息</P>
                <div class="infoList">
                    <i class="icon iconfont icon-task"></i>
                    <span class="listSpan">&nbsp;&nbsp;名称：</span>
                    <el-input v-model="releaseInfo.g_name"></el-input>
                </div>
                <div class="infoList">
                    <i class="icon iconfont icon-order"></i>
                    <span class="listSpan">&nbsp;&nbsp;类型：</span>
                    <el-radio v-for="item in typeInfo" v-model="releaseInfo.g_type">{{}}</el-radio>
                </div>
                <div class="infoList">
                    <i class="icon iconfont icon-coupons"></i>
                    <span class="listSpan">&nbsp;&nbsp;价格：</span>
                    <el-input v-model="releaseInfo.g_price"></el-input>
                </div>
                <div class="infoList">
                    <i class="icon iconfont icon-message"></i>
                    <span class="listSpan">&nbsp;&nbsp;描述：</span>
                    <el-input v-model="releaseInfo.g_construct"></el-input>
                </div>
                <p>上传图片</p>
                <div class="infoList">
                    <i class="icon iconfont icon-browse"></i>
                    <span class="listSpan">&nbsp;&nbsp;图片：</span>
                    <el-input v-model="releaseInfo.u_email"></el-input>
                </div>
                <p>关于发布</p>
                <div class="infoList">
                    <el-button type="success" icon="el-icon-check" circle @click="">立即发布</el-button>
                </div>
            </el-main>

            <!-- Footer区域 -->
            <el-footer>
                <div class="links">
                    <a target="_blank" href="http://www.xiyou.edu.cn/">西邮官网</a> |
                    <a target="_blank" href="http://cs.xupt.edu.cn:81/xiyoucs/index.asp">计算机学院</a> |
                    <a target="_blank" href="http://gr.xupt.edu.cn/">研究生院</a> |
                    <a href="../login/login-admin.html">管理员登录</a>
                </div>
                <p class="copyright"> Copyright © 2018 趣二手 All Rights Reserved </p>
            </el-footer>
        </el-container>
    </div>

    <!-- VUE -->
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                // 登录状态
                isLogin: false,
                // 登录的信息
                loginInfo: '',

                // 发布物品的数据
                releaseInfo: {
                    g_name: '',
                    g_type: '',
                    g_price: '',
                    g_construct: '',
                },

                typeInfo: {},
            },
            methods: {
                // 加载登录状态
                loadingLogin: function (params) {
                    let url = '__APP__/Home/Login/isLoginUser';
                    let _that = this;
                    $.ajax({
                        url: url,
                        dataType: 'JSON',
                        success: function (data) {
                            if (data.code == '0') {
                                _that.isLogin = true;
                                _that.loginInfo = data.msg;
                            } else if (data.code == '-1') {
                                _that.$message({
                                    message: data.msg,
                                    type: 'error'
                                });
                                setTimeout(() => {
                                    location = '../login/login';
                                }, 2000);
                            }
                        },
                        error: function () {
                            _that.$message({
                                message: '网络 或者 服务器出错,请稍后重试！',
                                type: 'error'
                            });
                        }
                    });
                },
                
                getType: function (params) {
                    let url = '__APP__/Home/Personal/findType';
                    let _that = this;
                    $.ajax({
                        url: url,
                        dataType: 'JSON',
                        success: function (data) {
                            if (data.code == '0') {
                                _that.typeInfo = data.msg;
                            }
                        },
                        error: function () {
                            _that.$message({
                                message: '网络 或者 服务器出错,请稍后重试！',
                                type: 'error'
                            });
                        }
                    });
                },

                // 重新发布
                againGoods: function (params) {
                    this.$confirm('您确定要 重新上架该商品 吗 ？', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        let url = params.target.getAttribute('data-id');
                        let _that = this;
                        $.ajax({
                            url: url,
                            type: 'GET',
                            dataType: 'JSON',
                            success: function (data) {
                                if (data.code == '0') {
                                    _that.$message({
                                        message: data.msg,
                                        type: 'success'
                                    });
                                    _that.getGoods();
                                } else if (data.code == '-1') {
                                    _that.$message({
                                        message: data.msg,
                                        type: 'error'
                                    });
                                }
                            },
                            error: function () {
                                _that.$message({
                                    message: '网络 或者 服务器出错,请稍后重试！',
                                    type: 'error'
                                });
                            }
                        });
                    }).catch(() => {
                        return;
                    });
                },

                // 退出登录
                loginOut: function (params) {
                    let url = '__APP__/Home/Login/out_login';
                    let _that = this;
                    $.ajax({
                        url: url,
                        dataType: 'JSON',
                        success: function (data) {
                            _that.$message({
                                message: data.msg,
                                type: 'success'
                            });
                            _that.isLogin = false;
                            location = '../login/login'
                        },
                        error: function () {
                            _that.$message({
                                message: '网络 或者 服务器出错,请稍后重试！',
                                type: 'error'
                            });
                        }
                    });
                }
            },
            mounted: function () {
                // 判断是否登录
                this.loadingLogin();
                // 加载物品分类
                this.getType();
            }
        })
    </script>
</body>

</html>